*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(140deg,rgb(55, 187, 239),rgb(66, 134, 160));
}
.container{
    width: 400px;
    background-color: #ffff;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%,50%);
    top: 30%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.15);
    animation: containerAnimation 1s ease;

}
@keyframes  containerAnimation{
    0%{
        opacity: 0;
        transform: translate(-50%,-90%);

    }
    
}
label,input,#error-msg{
    font-family: sans-serif;
}
label{
        display: inline-block;
        font-weight: 500;
        margin-top: 10px;
}
input[type="email"]{
    display: inline-block;
    border: 2px solid #d1d3d4;
    width: 88%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding: 5px;

}
#icon{
    float: right;
    height: 50px;
    position: relative;
    font-size: 25px;
    padding-top: 10px;
}
#error-msg{
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}