*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to right,#000,#01356d,green);
 color: #fff;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.container-random-password{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;

}
.display i{
    color: #000;
    cursor: pointer;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: hotpink;
    border-bottom: 5px solid hotpink;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    flex: 1;
}
.container button{
    border: 0;
    outline: 0;
    background: hotpink;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}